body.birthday {
    
    .birthday__intro {
    }
    .birthday__title {
        color: #fff;
        font-family: "Source Sans Pro";
        font-size: 5em;
        font-weight: 900;
        -webkit-user-select: none;
        user-select: none;
    }
}
